{% extends "familia.html" %}

{%load static%}

{% block contenido %}

    <p> Amigos </p>
    <div class = "contenidoAmigos">
        <form class = "formDataAMigos" action="/AppFamilia/Amigos/" method="POST"> {% csrf_token %}
            <input type = "text"name="nombre" placeholder="nombre">
            <input type = "text" name="Apellido" placeholder = "Apellido">
            <input type = "email" name="email" placeholder = "email">
            <button type = "submit" class = "btn btn-primary btndj">Registrar</button>
        <form>    
    <div>            
        
{% endblock %}