{% extends "familia.html" %}

{%load static%}

{% block contenido %}

    <p> Amigos.. </p>
    <div class = "contenidoAmigos">
        <form class = "formDataAMigos">
            <input type = "text"name="nombre" placeholder="nombre">
            <input type = "text" name="Apellido" placeholder = "Apellido">
            <input type = "email" name="email" placeholder = "email">
            <button type = "button" class = "btn btn primary btndj">primary>/button>
        <form>    
    <div>            
        
{% endblock %}